* {
  margin: 0;
  padding: 3px;
}

body {
  background-color: #fafbfc;
}

.card {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
}

.input {
  display: grid;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}

#tabela div {
  display: inline-block;
  border: 1px gray solid;
}

#tabela {
  margin-top: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

table th {
  background-color: #ccc;
}
